# Sample configuration for auth-host container
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT:-5432};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
OIDC_SIGNING_CERTIFICATE_PASSWORD=${OIDC_SIGNING_CERTIFICATE_PASSWORD}
OIDC_SVC_INTROSPECTOR_SECRET=${OIDC_SVC_INTROSPECTOR_SECRET}
TRUSTED_FORWARDERS=nginx-cf
AUTH_ROOT_PASSWORD=${AUTH_ROOT_PASSWORD}
TELEGRAM__ALLOWEDCLOCKSKEWSECONDS=60
OIDC_RESOURCE_SECRET=${OIDC_RESOURCE_SECRET}
OIDC_SIGNING_CERTIFICATE_PATH=/keys/openiddict/signing.pfx
DATAPROTECTION__KEYSDIRECTORY=/keys/dataprotection
ASPNETCORE_ENVIRONMENT=Production
TELEGRAM__BOTTOKEN=${TELEGRAM_BOT_TOKEN}
OIDC_SVC_REPORTING_SECRET=${OIDC_SVC_REPORTING_SECRET}
APP_UID=1654
ASPNETCORE_HTTP_PORTS=8080
ASPNETCORE_URLS=https://+:5001
