# Sample configuration for auth-host container
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=${POSTGRES_HOST};Port=${POSTGRES_PORT:-5432};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
OIDC_SIGNING_CERTIFICATE_PASSWORD=${OIDC_SIGNING_CERTIFICATE_PASSWORD}
OIDC_SVC_INTROSPECTOR_SECRET=${OIDC_SVC_INTROSPECTOR_SECRET}
TRUSTED_FORWARDERS=nginx-cf
AUTH_ROOT_PASSWORD=${AUTH_ROOT_PASSWORD}
TELEGRAM__ALLOWEDCLOCKSKEWSECONDS=60
OIDC_RESOURCE_SECRET=${OIDC_RESOURCE_SECRET}
OIDC_SIGNING_CERTIFICATE_PATH=/keys/openiddict/signing.pfx
DATAPROTECTION__KEYSDIRECTORY=/keys/dataprotection
ASPNETCORE_ENVIRONMENT=Production
TELEGRAM__BOTTOKEN=${TELEGRAM_BOT_TOKEN}
OIDC_SVC_REPORTING_SECRET=${OIDC_SVC_REPORTING_SECRET}
APP_UID=1654
ASPNETCORE_HTTP_PORTS=8080
ASPNETCORE_URLS=https://+:5001
USE_CLOUDFLARE=false
# Include full Cloudflare list plus Moscow POP ranges (e.g. 188.114.96.0/20).
CLOUDFLARE_TRUSTED_PROXIES=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22
CLOUDFLARE_ALLOW_TRUE_CLIENT_IP=false
SESSION_COOKIE_DOMAIN=.ava-kk.ru
SESSION_COOKIE_PATH=/
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=true
